<div data-controller="sessions" class="auth-form">
    <%  if flash[:notice] %>
        <%=  render :partial => 'shared/flash' %>
    <% end %>
    <%  if flash[:alert] %>
        <%=  render :partial => 'shared/flash' %>
    <% end %>

    <%= render :partial => 'sessions_form' , locals: {controller: 'sessions'} %>
</div>