<div class="auth-form" data-controller="users">
     <% if flash[:error]  %>
        <%= render :partial => 'shared/flash' %>
    <% end %>
    <%= render :partial => "users_new_form", locals: {controller: 'users'}  %>

</div>