<div class="posts">
    <% @posts.each  do |p| %>
        <div class="post">
            <div class="post-header">
                <span class="author">Olawale</span>
                <%= link_to edit_post_path(p), class: "icon-link" do %>
                    <i class="fa fa-ellipsis-h"></i>
                <% end %>
            </div>
            <div class= "post-content">
                <p>
                    <%= p.content %>
                </p>
            </div>
        </div>
    <% end %>
</div>