<div class="posts">
    <% @posts.each  do |post| %>
        <div class="post">
            <div class="post-header">
                <div class="info">
                    <div class="details">
                        <span class="author">Olawale </span> &nbsp;
                        <span class="dot"></span> &nbsp;
                        <span class="duration"> 
                            <%= time_ago_in_words(post.created_at) %> 
                        </span>
                    </div>
                    <%= link_to edit_post_path(post), class: "icon-link" do %>
                        <i class="fa fa-ellipsis-h"></i>
                    <% end %>
                </div>
                <div class="post-title">
                    <h6><%= post.title  %></h6>
                </div>
            </div>
            <div class= "post-content">
                <%= post.content %>
            </div>
        </div>
    <% end %>
</div>