*,*::before,*::after{
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    background-color: ccc;
    font-size: 62.5%;
}
h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    max-width: 96em;
    position: relative;
    margin: 0 auto;
}