/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

/*
#9D3131
#661212
*/
*,*::before,*::after{
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
}

body{
    background-color: #FDFDFD;
    font-size: 62.5%;
}
a {
    text-decoration: none;
    transition: all 1.2s ease-in-out;
    color: #A4A4A4;
}
a:hover{
    color: #8C8989;
    text-decoration: underline;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
    font-weight: 300;
}
img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}
input:disabled {
    background-color: red;
}
.container{
    width: 100%;
    max-width: 96em;
    position: relative;
    margin: 0 auto;
}

.main {
    width: 100%;
    position: relative;
    display: flex;
}
.sidebar{
    width: 20%;
}
.content {
    width: 80%;
}

.error{
    color: red;
    margin: 0.8em 0;
}

.field{
    margin-top: 1.5em;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 0.35em;
}
.label {
    position: relative;
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.8rem;
    width: 100%;
}
.input{
    width: 100%;
}
.no-shadow{
    box-shadow: none;
 }
 .text-center{
     text-align: center;
 }
 .icon{
     cursor: pointer;
 }
 /* button variants */
 .btn{
    display: inline-block;
    background-color: blue;
    padding: 5px 30px;
    outline: none;
    border: none;
    color: #fff;
    font-size: 3em;
    cursor: pointer;
}
/*button color */
.btn-blue {
    background-color: blue;
}
.btn-warning {
    background-color:turquoise;
}
.btn-danger {
    background-color: red;
}

/*button sizes */

.btn-large{
    padding: 10px 40px;
}

/* font modifier */
.xs-font{
    font-size: 2em;
}
.sm-font{
    font-size: 2.8em;
}
.lg-font {
    font-size: 3.5em;
}

.xl-font {
    font-size: 4.5em;
}

/*width */

.full-width {
    width: 100%;
}
