/* Place all the styles related to the Post controller here.
They will automatically be included in application.css.
You can use Sass (SCSS) here: https://sass-lang.com/ */

/* all posts  */
.posts{
    display: grid;
    grid-template-columns: 1fr;
}

.post{
    margin-top: 1.8em;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 0.5em 1.5em;
    display: flex;
}
.post_avatar-container{
    display: inline-block;
}
.post-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 1.2rem;
    border: 1px solid grey;
}
.post-main {
    width: 100%;
}
.post-header{
    font-size: 2em;
    margin-bottom: 1.5em;
}
.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8em;
}
.details{
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dot{
   width: 5px;
   height: 5px;
   border-radius: 50%;
   background-color: #ddd;
}
.post-title{
    font-size: 2.2em;
}
.post-content{
    font-size: 3em;
}

.post-footer{
    display: flex;
}

/* post forms */

.new-post{
    display: grid;
    grid-template-columns: 1fr;
}